# Numbers and Variable Assignment

## Types of numbers

- Integers are just whole numbers, positive or negative.<br>
For eg: 2 and -2 are examples of integers.

- Floating point numbers in Python are notable because they have a decimal point in them, or use an exponential (e) to define the number.<br>
For eg: 2.0 and -2.1 are examples of floating point numbers. 4E2 (4 times 10 to the power of 2) is also an example of a floating point number in Python.

## Basic Arithmetic

In [1]:
# Addition
2 + 1

3

In [2]:
# Subtraction
2 - 1

1

In [3]:
# Multiplication
2 * 2

4

In [4]:
# Division
3 / 2

1.5

In [5]:
# Floor Division
7 // 4

1

In [6]:
# Modulus
7 % 4

3

In [7]:
# Powers
2**3

8

In [8]:
# Root
4**0.5

2.0

In [9]:
# Order of operations in Python
2 + 10 * 10 + 3

105

In [10]:
# Can use parentheses to specify orders
(2+10) * (10+3)

156

## Variable Assignments

Use a single equals sign to assign labels to variables.

In [11]:
# Create an object called "a" and assign it the number 5
a = 5

In [12]:
# Adding the objects
a + a

10

In [13]:
# Reassignment of variables
a = 10
a

10

Python lets you add, subtract, multiply and divide numbers with reassignment using `+=`, `-=`, `*=`, and `/=`.

In [14]:
# Reassigning variables with a reference to same object
a = a + 10
a

20

In [15]:
# Addition with reassignment
a += 10
a

30

In [16]:
# Multiplication with reassignment
a *= 2
a

60

Rules to follow when naming a variable:

1. Names can not start with a number.
2. There can be no spaces in the name, use _ instead.
3. Can't use any of these symbols :'",<>/?|\()!@#$%^&*~-+
4. It's considered best practice (PEP8) that names are lowercase.
5. Avoid using the characters 'l', 'O', or 'I' as single character variable names.
6. Avoid using words that have special meaning in Python like "list" and "str"

## Dynamic Typing

Python uses *dynamic typing*, meaning you can reassign variables to different data types. This makes Python very flexible in assigning data types; it differs from other languages that are *statically typed*.

In [17]:
my_dogs = 2
my_dogs

2

In [18]:
# Switch data type from integer to list
my_dogs = ['Sammy', 'Frankie']
my_dogs

['Sammy', 'Frankie']

## Determining variable type with `type()`

Check the type of object is assigned to a variable using Python's built-in `type()` function. Common data types include:
- **int** (for integer)
- **float**
- **str** (for string)
- **list**
- **tuple**
- **dict** (for dictionary)
- **set**
- **bool** (for Boolean True/False)

In [19]:
a = 10
type(a)

int

In [20]:
a = (1,2)
type(a)

tuple

## Exercise 1

In [21]:
my_income = 100
tax_rate = 0.1

my_taxes = my_income * tax_rate
print(my_taxes)

10.0